{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} | Index
{% endblock %}

{% block body %}
    <h2>Filtrer les sorties</h2>

    <div id="container_principal" style="width: 1200px;height:800px; display: flex; flex-direction: column; background-color: #a38b8b; margin: 5px; padding: 5px; border: 2px; border-style: solid">

        <div id="formulaire" style="background-color: #8b8d91; display: flex; flex-direction: row; margin: 5px; padding: 5px; border: 2px; border-style: solid; border-radius: 2px">
            <div id="formulaire_gauche" style="width: 500px; margin: 5px; padding: 5px; border: 2px">
                {{ form_start(form) }}
                {{ form_row(form.site) }}
                {{ form_row(form.recherche) }}
                <div style="display: flex; flex-direction: row; margin: 2px">
                    <p>Entre&nbsp;</p>
                    {{ form_row(form.dateDebut) }}
                    <br><br>
                    <p>&nbsp;et&nbsp;</p>
                    {{ form_row(form.dateFin) }}
                </div>
            </div>

            <div id="formulaire_droite" style="width:500px; margin: 5px; padding: 5px; border: 2px">
                {{ form_row(form.organisateur) }}
                {{ form_row(form.inscrit) }}
                {{ form_row(form.pasInscrit) }}
                {{ form_row(form.sortiesPassees) }}
            </div>
            <div id="formulaire_bouton">
                <button id="searchButton" style="width: 125px; height:125px">Rechercher</button>
            </div>
        </div>

        <div id="liste_sorties" style="width: 1200px;height:500px;background-color:#5f74a3; border: 2px; border-style: solid; border-radius: 2px">
            <table style="width: 100%; display:block;">
                <thead style="display: inline-block; width: 100%; height: 20px;">
                <tr>
                    <th>Nom de la sortie</th>
                    <th>Date de la sortie</th>
                    <th>Clôture</th>
                    <th>Inscrits/Places</th>
                    <th>Etat</th>
                    <th>Inscrit</th>
                    <th>Organisateur</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody style="height: 200px; display: inline-block; width: 100%; overflow: auto;">
                <tr>
                    {% for sortie in sorties %}
                        <td>{{ sortie.libelle }}</td>
                        <td>{{ sortie.dateSortie }}</td>
                        <td>{{ sortie.dateCloture }}</td>
                        <td>{{ sortie.nbreParticipants }}</td>
                        <td>{{ sortie.etat }}</td>
                        <td>Inscrit A FAIRE </td>
                        <td>{{ sortie.organisateur }}</td>
                        <td>Actions A FAIRE</td>
                    {% endfor %}
                </tr>
                </tbody>
            </table>
        </div>
        <button id="creerSortie" style="width: 200px; height:75px; margin: 15px; padding: 5px">Créer une sortie</button>
    </div>
    {{ form_end(form) }}
{% endblock %}

