{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} | Index
{% endblock %}

{% block body %}
    <h3>Filtrer les sorties</h3>

    <div id="container_principal">

        <div id="formulaire" style="display: flex; flex-direction: row;">
            <div id="formulaire_gauche" style="width: 500px">
                {{ form_start(form) }}
                {{ form_row(form.site) }}
                {{ form_row(form.recherche) }}
                <div style="display: flex; flex-direction: row; margin: 2px">
                    <p>Entre&nbsp;</p>
                    {{ form_row(form.dateDebut) }}
                    <p>&nbsp;et&nbsp;</p>
                    {{ form_row(form.dateFin) }}
                </div>
            </div>
            <div id="formulaire_droite" style="width: 500px">
                {{ form_row(form.organisateur) }}
                {{ form_row(form.inscrit) }}
                {{ form_row(form.pasInscrit) }}
                {{ form_row(form.sortiesPassees) }}
            </div>
            <div id="formulaire_bouton" style="width: 200px">
                <button id="searchButton" style="width: 200px; height:75px; background-color: #B0413E">Rechercher</button>
            </div>
        </div>

        <div id="liste_sorties" style="width: 1500px;height:500px;">

            <table>
                <thead>
                    <tr>
                        <th>Nom de la sortie</th>
                        <th>Date de la sortie</th>
                        <th>Clôture de la sortie</th>
                        <th>Inscrits/Places</th>
                        <th>Etat de la sortie</th>
                        <th>Inscrit à la sortie</th>
                        <th>Organisateur de la sortie</th>
                        <th>Actions à réaliser</th>
                    </tr>
                </thead>
                <tbody>
                        {% for sortie in sorties %}
                        <tr>
                            <td>{{ sortie.libelle }}</td>
                            <td>{{ sortie.dateSortie|date('y/m/d h:i') }}</td>
                            <td>{{ sortie.dateCloture|date('y-m-d') }}</td>
                            <td>{{ sortie.listeParticipants.count }} / {{ sortie.nbreParticipants }} </td>

                            {# Pour affichage de l'état de la sortie #}
                            {% if sortie.etat == '1' %}
                                <td>En cours</td>
                            {% elseif  sortie.etat == '2'%}
                                <td>Fermé</td>
                            {% elseif  sortie.etat == '3'%}
                                <td>Ouvert</td>
                            {% else %}
                                <td>En création</td>
                            {% endif %}

                            {# Pour afficher si la personne connectée est inscrite ou pas #}
                            {% if app.user in sortie.listeParticipants %}
                                <td>Est inscrit</td>
                            {% else %}
                                <td>N'est pas inscrit</td>
                            {% endif %}

                            {# Pour afficher l'organisateur de la sortie #}
                             <td><a href="{{ path('app_detail_profil', {'id': sortie.organisateur.id}) }}" title="Vers profil organisateur"><u>{{ sortie.organisateur.pseudo }}</u></a></td>

                            {# Pour affichage en fonction inscription personne connectée #}
                            <td>
                            {% if app.user == sortie.organisateur%}
                                <a href="{{ path('sortie_create', {'id': sortie.id}) }}"><u>Modifier</u></a> -
                            {% else %}
                                <a href="{{ path('sortie_detail', {'id': sortie.id}) }}"><u>Afficher</u></a> -
                            {% endif %}
                            {% if app.user in sortie.listeParticipants %}
                                <a href="{{ path('inscription_desister', {'id_sortie': sortie.id}) }}"><u>Se désister</u></a>
                            {% else %}
                                <a href="{{ path('inscription_inscription', {'id_sortie': sortie.id}) }}"><u>S'inscrire</u></a>
                            {% endif %}
                            </td>
{#                            {% if app.user %}#}
{#                                <td><a href="{{ path('inscription_inscription', {'id_sortie': sortie.id}) }}"><u>S'inscrire</u></a> - <a href="{{ path('inscription_desister', {'id_sortie': sortie.id}) }}"><u>Se désister</u></a></td>#}

{#                            {% endif %}#}

                        </tr>

                        <br>
                        {% endfor %}
                </tbody>
            </table>
        </div>

    </div>
    {{ form_end(form) }}
    {% if app.user%}
        <a href="{{ path('sortie_create', {'id': app.user.id}) }}" title="Créer sortie">Créer une sortie</a>
    {% endif %}
{#    <button id="creerSortie" onclick="window.location.href ={{ path('sortie_create', {'id': 1}) }}" style="background-color: #B0413E; width: 200px; height:75px;">Créer une sortie</button>#}
{% endblock %}