{% extends 'base.html.twig' %}

{%  block title %}
    {{ parent() }} | Gestion Sites
{% endblock %}

{% block body %}
    <h2>Gérer les sites</h2>

<div id="filtrage">
    <h3>Filtrer les sites</h3>
    {{ form_start(filtreForm)}}
    Le nom contient : {{ form_widget(filtreForm.nom)}} <button class="button">Rechercher</button>
    {{ form_end(filtreForm) }}

</div>

    <table class="hover">
        <tbody>
        <tr>
            <td>Nom du Site</td>
            <td>Actions</td>
        </tr>
    {% for site in sites %}
        <tr>
            <td>{{ site.id}} {{ site.nomSite}}</td>
            <td><a href="{{ path('gestion_sites_edit', {'id': site.id}) }}" class="button">Modifier</a>   <a class="button" href="{{ path('gestion_sites_delete', {'id': site.id}) }}">Supprimer</a></td>
        </tr>

    {% endfor %}
        {{ form_start(ajoutForm) }}
        <tr>
            <td>{{ form_widget(ajoutForm.nomSite) }}</td>
            <td> <button class="button">Ajouter</button></td>
        </tr>
        {{ form_end(ajoutForm)}}
        </tbody>
    </table>
{% endblock %}